= link_to class:'close.upload_images'
  i.glyphicon.glyphicon-plus
  = form_for [album, Picture.new], remote: true, html: {multipart: true} do |f|
    = f.file_field :image, multiple: true, name: 'picture[image]', class: 'form-control btn-info invis new_pictures', id: 'new_picture'
