// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.album, .pucture_box{
  display: inline;
  float: left;
  width: auto;
  height: auto;

}
