// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pucture_box{
  display: inline;
  float: left;
  width: auto;
  height: auto;

}

.empty_album{

  min-width: 100%;
  height: 100px;
  background-color: #e0e2e4;
  border: dashed 1px #7467c7;
  overflow: hidden;
}


.album_title{
  margin-left: -2%;
}

a{
  color: #BBBBBB;
}
.title, .avatar_link{
  color: #8c8c8c;
}

.album_titles{
  border: dashed 1px rgba(232, 232, 232, 0.69);
}

