footer{
  position: fixed;
  top: 95%;
  left: 10%;
  border-radius: 5px;
  color: rgba(12, 21, 154, 0.43);
}

.user_name_in_menu{
  margin-top: 15px;
  margin-left: 10px;
}
.main_menu{
  margin-left: -7%;

}

.circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.top_menu, .top_name, .two_px_left{
  margin-left: 2%;
}
.two_px_left{
  margin-left: 2px;
}

.main{
  min-width: 600px;
}

.glyphicon{
  color: rgba(151, 176, 198, 0.88);
  cursor: pointer;

}
