// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invis {
  opacity: 0.0;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);


}


.invis_in_album{
  opacity: 0.0;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.7);

}
.upload_images{
  position: absolute;
  z-index: 0;
}
.glyphicon-plus{
  z-index: -100;
}

.remove_image {
  margin-right: 3%;
}

.new_pictures{
  margin-left: -50px;
  margin-top: -7px;
}

.new_picture{
  //margin-left: 1px;
}

